<div class="content_all">
  <%= image_tag 'flower.jpg',:size => "900x300", :class => "image-tag-class"%>
</div>
<h2>ブログ管理アプリ</h2>
<p>日々考えたことや感じたことを記録しておくことができます。</p>
<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
