<div class="content_all">
  <%= image_tag 'flower.jpg',:size => "1200x300"%>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
