// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #BAD3FF;
}

.image-tag-class{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


p{
 text-align:center;
}

h2{
 text-align:center;
}
