<!DOCTYPE html>
<html>
  <head>
    <title>Blogs</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <nav class="navbar navbar-default row">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
            <span class="sr-only">Bootstrap</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/tops/index">HOME

          </a>
        </div>
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/blogs">ブログ一覧</a></li>
            <li><a href="/blogs/new">ブログを作成する</a></li>
          </ul>
        </div>
      </div>
    </nav>
   </div>


    <%= yield %>


      <footer class="footer col-sm-6 col-md-3">
        <div class="container">
          <p class="text-muted">dive into code</p>
        </div>
      </footer>

    </body>
</html>
